# compiled output
/dist
/tmp
/out-tsc

# Dependency directories
node_modules/

# Logs
logs
*.log

# Optional npm cache directory
.npm

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# System Files
.DS_Store
Thumbs.db

.gitkeep